@{
    ViewData["Title"] = "Home Page";
}

<div>
   @Html.ActionLink("ir seleccionar Indumentaria", "selectIndumentaria")
</div>
<div>
<ul>
    @foreach (var item in ViewBag.diccionario)
    {
        <li><img src="/imagenes/@item.value.medias" /> <img src="/imagenes/@item.value.pantalon" /><img src="/imagenes/@item.value.camiseta" /></li>
    }
</ul>
</div>